/*
FONT FAMILIES
font-family: 'Rampart One', cursive;
font-family: 'Roboto', sans-serif;*/

body {
  min-height: 100vh;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 2vh;
  color: rgb(64, 63, 63);
}

svg {
  margin-bottom: -50px;
}

textPath {
  font-size: 2.5rem;
  font-family: "Rampart One", cursive;
  font-weight: 900;
  text-transform: uppercase;
  fill: orangered;
}

path {
  fill: transparent;
  margin: 0;
  padding: 0;
}

.logo-img {
  position: absolute;
  top: 23vw;
  left: calc((100% - 40vw) / 2);
  width: 40vw;
  z-index: 1;
}

#game-intro {
  display: block;
}

#game-intro > #intro {
  padding: 10px 20px;
  text-align: justify;
  display: block;
  margin: 0 100px;
  line-height: 3.5vh;
  font-size: 2.2vh;
}

button {
  background-color: orangered;
  font-weight: 900;
  color: rgb(238, 230, 218);
  padding: 20px 25px;
  border: 0;
  box-shadow: 0;
  border-radius: 4px;
  font-size: 1.4rem;
  margin: 30px;
}

#game-intro > #instructions {
  padding: 10px 20px;
  margin: 0 100px;
  font-size: 1.7vh;
}

#keyboard {
  display: flex;
  justify-content: center;
  font-family: "Rampart One", cursive;
  font-size: 5vh;
  margin-top: 20px;
}

#arrow-up-down {
  transform: rotate(90deg);
  margin-left: 0.9rem;
  margin-top: 0.3rem;
  color: rgba(64, 63, 63, 0.2);
}

.arrow-highlight {
  color: orangered;
}

#game {
  display: none;
  margin-top: 40px;
}

#game-display {
  display: flex;
  align-self: center;
  justify-content: space-around;
}

#points {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#score,
#health {
  display: flex;
  color: orangered;
  font-family: "Rampart One", cursive;
  font-size: 4vh;
  align-self: center;
}

#add-score,
#add-health {
  margin-left: 20px;
}

#game-over {
  display: none;
}

#game-won {
  display: none;
}

.gif {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.gif img {
  min-width: 250px;
  max-width: 400px;
}
