/*
FONT FAMILIES
font-family: 'Rampart One', cursive;
font-family: 'Roboto', sans-serif;*/

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 2vh;
  color: rgb(64, 63, 63);
  text-align: center;
}

svg {
  margin-bottom: -50px;
  max-height: 50vh;
}

textPath {
  font-size: 2.5rem;
  font-family: "Rampart One", cursive;
  font-weight: 900;
  text-transform: uppercase;
  fill: orangered;
}

path {
  fill: transparent;
  margin: 0;
  padding: 0;
}

.logo-img {
  position: absolute;
  top: 20vh;
  left: calc((100% - 46vh) / 2);
  max-height: 14vh;
  z-index: 1;
  margin-bottom: 2vh;
}

#name-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#name-prompt,
h1 {
  font-family: "Rampart One", cursive;
  color: orangered;
  font-size: 3vh;
  margin: 4vh 0;
}

#name {
  padding: 15px 20px;
  width: 18vw;
  text-align: center;
  margin-bottom: 30px;
  color: rgba(64, 63, 63, 0.5);
  border: 1px solid rgba(64, 63, 63, 0.2);
  border-radius: 3px;
}

#introduction,
#instructions,
#game,
#game-over,
#game-won {
  display: none;
}

.intro-text {
  text-align: justify;
  display: block;
  padding: 15px 20px;
  margin: 20px auto;
  line-height: 3.5vh;
  font-size: 2.2vh;
  max-width: 60vh;
}

#instructions > .intro-text {
  text-align: center;
}

#keyboard {
  display: flex;
  justify-content: center;
  font-family: "Rampart One", cursive;
  font-size: 5vh;
  margin-bottom: 40px;
}

#arrow-up-down {
  transform: rotate(90deg);
  margin-left: 0.9rem;
  margin-top: 0.3rem;
  color: rgba(64, 63, 63, 0.2);
}

.arrow-highlight {
  color: orangered;
}

button,
#submit-btn {
  font-family: "Rampart One", cursive;
  background-color: orangered;
  font-weight: 900;
  color: white;
  padding: 15px 20px;
  border: 0;
  box-shadow: 0;
  border-radius: 0.5vh;
  font-size: 2.5vh;
}

button:hover,
#submit-btn:hover {
  background-color: white;
  color: orangered;
  transform: scale(1.2);
  transition: ease-in-out;
}

#game-display {
  display: flex;
  align-self: center;
  justify-content: space-around;
  margin: 30px 10px;
}

#points {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#score,
#health {
  display: flex;
  color: orangered;
  font-family: "Rampart One", cursive;
  font-size: 8vh;
}

#hey {
  display: flex;
  max-width: 50vh;
  color: rgba(64, 63, 63, 0.2);
  font-family: "Rampart One", cursive;
  font-size: 6vh;
  margin-bottom: 50px;
}

#add-score,
#add-health {
  margin-left: 20px;
}

#go-message,
#win-message {
  font-size: 9vh;
  color: orangered;
  margin: 10px auto;
  font-family: "Rampart One", cursive;
  text-transform: uppercase;
}

#score-go,
#score-gw {
  font-size: 6vh;
  color: rgba(64, 63, 63, 0.5);
  margin: 0 auto;
  font-family: "Rampart One", cursive;
  text-transform: uppercase;
}

.highscore-container {
  display: flex;
  justify-content: space-evenly;
}

.highscores-list {
  color: rgba(64, 63, 63, 0.5);
  font-family: "Rampart One", cursive;
  text-transform: uppercase;
  font-size: 2.5vh;
}

#restart-button-go,
#restart-button-gw {
  align-self: center;
}

.gif {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.gif img {
  min-width: 250px;
  max-width: 350px;
}
